.about {
  height: 100vh;
  padding-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .profile-image {
    height: auto;
    max-width: 400px;
    width: 100%;
    border-radius: 500px;
    animation: fadeInSlide 0.5s;
    transition: ease-in-out 0.3s;
  }

  .bio {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    animation: fadeIn 0.8s;
    transition: ease-in-out 0.3s;

    h1 {
      font-size: 56px;
      font-weight: bolder;
      color: #304149;
      text-transform: uppercase;
      padding-bottom: 1rem;
      transition: ease-in-out 0.3s;
    }

    .bio-text {
      color: #304149;
      font-size: 24px;
      transition: ease-in-out 0.3s;
      padding-left: 1rem;
    }
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1024px) {
  .about {
    flex-direction: column;
  }
  .about .bio .bio-text {
    width: 550px;
    max-width: none;
  }

  .about .profile-image {
    max-width: 350px;
    margin-top: 3rem;
  }
}

@media screen and (max-width: 768px) {
  .about .bio {
    max-width: 250px;
  }
  .about .bio h1 {
    font-size: 42px;
  }
  .about .bio .bio-text {
    font-size: 20px;
    width: 350px;
  }
  .about .profile-image {
    max-width: 250px;
    width: 100%;
    border-radius: 250px;
  }
}

@media screen and (max-width: 540px) {
  .about .bio {
    max-width: 200px;
  }
  .about .bio h1 {
    font-size: 33px;
  }
  .about .bio .bio-text {
    width: 250px;
    font-size: 16px;
  }
  .about .profile-image {
    max-width: 200px;
    width: 100%;
    border-radius: 200px;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .about .profile-image {
    margin-top: 4rem;
  }
  .about .bio .bio-text {
    font-size: 14px;
    width: 275px;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 280px) {
  .about .profile-image {
    margin-top: 4rem;
  }
  .about .bio .bio-text {
    width: 250px;
  }
}
