.contacts {
  height: 92vh;
  top: 8vh;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #59666d;
  font-size: 24px;
  animation: fadeInSlide 0.5s;

  a {
    color: inherit;
  }

  h1 {
    color: #304149;
    font-size: 56px;
    margin-bottom: 2rem;
  }

  h3 {
    padding: 2rem;
    transition: ease-in-out 0.2s;
  }

  h3:hover {
    color: #44545b;
    text-shadow: 2px 2px 1px #b4b1a6;
  }

  .phone {
    display: flex;
    align-items: center;
  }

  .fa-mobile-alt {
    padding-right: 1rem;
  }

  .email {
    display: flex;
    align-items: center;
  }

  .fa-envelope {
    padding-right: 1rem;
  }

  .github {
    display: flex;
    align-items: center;
  }

  .fa-github {
    padding-right: 1rem;
  }

  .linked-in {
    display: flex;
    align-items: center;
  }

  .fa-linkedin {
    padding-right: 1rem;
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }
}

@media screen and (max-width: 768px) {
  .contacts {
    font-size: 18px;
  }
  .contacts h1 {
    font-size: 42px;
  }
}

@media screen and (max-width: 320px) {
  .contacts {
    font-size: 15px;
  }
  .contacts h1 {
    font-size: 35px;
  }
}
