.home {
  height: 100vh;
  padding-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    display: flex;
  }

  .profile-image {
    height: auto;
    max-width: 400px;
    width: 100%;
    border-radius: 400px;
    animation: fadeInSlide 0.5s;
    transition: ease-in-out 0.3s;
  }

  .bio {
    max-width: 700px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 1rem;
    margin-left: 100px;
    animation: fadeIn 0.8s;
    transition: ease-in-out 0.3s;

    h1 {
      font-size: 56px;
      font-weight: bolder;
      color: #304149;
      text-transform: uppercase;
      margin-bottom: 1rem;
      transition: ease-in-out 0.3s;
    }

    .bio-text {
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      color: #304149;
      font-size: 18px;
      line-height: 32px;
      transition: ease-in-out 0.3s;
      a {
        font-family: "Source Sans Pro", sans-serif;
        text-decoration: underline;
        color: #344b67;
      }
    }
  }

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(-30px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1600px) {
  .home .bio {
    max-width: 500px;
    margin-left: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .home .bio {
    align-items: center;
    margin-left: 1rem;
    max-width: 700px;
  }

  .home .profile-image {
    max-width: 350px;
  }
}

@media screen and (max-width: 768px) {
  .home .bio {
    max-width: 500px;
  }
  .home .bio h1 {
    font-size: 42px;
  }
  .home .profile-image {
    max-width: 250px;
    width: 100%;
    border-radius: 250px;
  }
}

@media screen and (max-width: 540px) {
  .home .bio {
    max-width: 360px;
  }
  .home .bio h1 {
    font-size: 33px;
  }
  .home .bio .bio-text {
    font-size: 16px;
    line-height: 26px;
  }
  .home .profile-image {
    max-width: 250px;
    border-radius: 250px;
  }
}

@media screen and (max-width: 375px) {
  .home .bio {
    margin-bottom: 3rem;
    max-width: 300px;
  }
  .home .bio .bio-text {
    line-height: 24px;
    margin-bottom: 2rem;
  }
  .home .profile-image {
    max-width: 180px;
    border-radius: 180px;
    margin-top: 6rem;
  }
}

@media screen and (max-width: 320px) {
  .home .bio {
    max-width: 280px;
    margin-top: 0.5rem;
  }
  .home .bio h1 {
    margin-bottom: 0.5rem;
  }
  .home .profile-image {
    max-width: 140px;
    border-radius: 140px;
    margin-top: 9rem;
  }
}

@media screen and (max-width: 280px) {
  .home .bio {
    max-width: 250px;
  }
  .home .profile-image {
    max-width: 140px;
    border-radius: 140px;
    margin-top: 7rem;
  }
}
