.landing-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92vh;
  top: 8vh;
}

.landing {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 46vh;
  top: 20vh;
  background-color: rgba($color: slategrey, $alpha: 0.5);
  border-radius: 30px;
  border: solid 5px slategrey;
  color: #d9dcdf;
}
