nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1e3857;
  z-index: 1;
  position: fixed;
  width: 100%;

  .logo {
    color: #d9dcdf;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;

    a {
      color: inherit;
    }
  }

  #cursor {
    color: #d9dcdf;
    font-size: 30px;
  }

  .logo:hover {
    color: #78879a;
    #cursor {
      color: #78879a;
    }
  }

  .nav-links {
    display: flex;
    width: 33%;
    justify-content: space-around;
    z-index: 1;
  }

  .nav-links a {
    color: #d9dcdf;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 5px;
  }

  .nav-links a:hover {
    background-color: #4a5f78;
    color: #ffffff;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #d9dcdf;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1024px) {
    .logo {
      font-size: 21px;
    }
    .nav-links {
      width: 50%;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #1e3857;
      // display: flex;
      // transform: translateX(100%);
      flex-direction: column;
      align-items: center;
      width: 42%;
      display: none;
    }

    .nav-links li {
      opacity: 0;
    }

    .burger {
      display: block;
    }
  }

  @media screen and (max-width: 360px) {
    .logo {
      font-size: 16px;
    }
    .logo span {
      display: none;
    }
  }

  .nav-active {
    animation: fadeIn 0.3s;
    display: flex;
    // transform: translateX(0%);
    // transition: transform 0.4s ease-in;
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}
