nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1e3857;

  .logo {
    color: #d9dcdf;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
  }

  .nav-links {
    display: flex;
    width: 33%;
    justify-content: space-around;
    z-index: 1;
  }

  .nav-links a {
    color: #d9dcdf;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
  }

  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #d9dcdf;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
  }

  @media screen and (max-width: 768px) {
    .nav-links {
      position: absolute;
      right: 0;
      height: 92vh;
      top: 8vh;
      background-color: #1e3857;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.5s ease-in;
    }

    .nav-links li {
      opacity: 0;
    }

    .burger {
      display: block;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
}
