.skills-container {
  display: flex;
  animation: fadeInSlide 0.5s;
  transition: ease-in-out 0.3s;
  padding-top: 90px;

  @keyframes fadeInSlide {
    from {
      opacity: 0;
      transform: translateX(30px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .v-divider {
    width: 1px;
    height: 80vh;
    background-color: #8a9398;
    align-self: center;
    border-width: 0;
    border-style: none;
  }

  .h-divider-responsive {
    width: 70%;
    height: 1px;
    background-color: #8a9398;
    align-self: center;
    border-width: 0;
    border-style: none;
    display: none;
  }

  .skills {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: ease-in-out 0.3s;
    margin-top: 2rem;

    h2 {
      font-size: 38px;
      letter-spacing: 2px;
      color: #304149;
      margin-bottom: 2rem;
    }

    .main {
      align-self: center;
      color: #44545b;
      font-size: 27px;
    }

    .h-divider {
      width: 70%;
      height: 1px;
      background-color: #8a9398;
      align-self: center;
      margin-top: 1.5rem;
      border-width: 0;
      border-style: none;
    }

    .secondary {
      align-self: center;
      color: #44545b;
      font-size: 27px;
      margin-top: 2rem;
    }

    .secondary-container {
      margin-bottom: 2rem;
    }

    .subtitle {
      color: #44545b;
      font-size: 24px;
      align-self: flex-start;
      margin-top: 1rem;
    }

    li {
      font-family: "Source Sans Pro", sans-serif;
      font-size: 18px;
      line-height: 32px;
      align-self: flex-start;
      color: #59666d;
      margin-top: 1rem;
      width: 730px;
      list-style: disc;
      margin-left: 1.25rem;
    }
  }

  .education-experience {
    width: 50%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;

    .h-divider {
      width: 70%;
      height: 1px;
      background-color: #8a9398;
      align-self: center;
      margin-top: 1.5rem;
      border-width: 0;
      border-style: none;
    }
  }

  .education {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .education-container {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      div {
        margin: 1rem;
        margin-left: 5rem;
        margin-right: 5rem;
      }
    }

    h2 {
      font-size: 38px;
      letter-spacing: 2px;
      color: #304149;
    }

    .school {
      align-self: center;
      color: #44545b;
      font-size: 27px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    .credentials {
      font-family: "Source Sans Pro", sans-serif;
      line-height: 20px;
      font-weight: normal;
      color: #59666d;
      font-size: 20px;
      margin-bottom: 0.5rem;
    }

    .date {
      font-family: "Source Sans Pro", sans-serif;
      color: #59666d;
      font-size: 18px;
      font-weight: normal;
    }
  }

  .experience {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
      font-size: 38px;
      letter-spacing: 2px;
      color: #304149;
      margin-top: 2rem;
      margin-bottom: 1rem;
    }

    .experience-container {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
    }

    .job {
      display: flex;
      flex-direction: column;
      margin: 2rem;
      margin-top: 0;
    }

    h3 {
      align-self: center;
      color: #44545b;
      font-size: 27px;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }

    h4 {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: normal;
      align-self: flex-start;
      color: #44545b;
      font-size: 20px;
      line-height: 32px;
    }

    li {
      font-family: "Source Sans Pro", sans-serif;
      align-self: flex-start;
      color: #59666d;
      font-size: 18px;
      line-height: 24px;
      margin-top: 1rem;
      list-style: disc;
      margin-left: 1.25rem;
    }
  }
}

@media screen and (max-width: 1700px) {
  .skills-container {
    .skills {
      li {
        width: 580px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .skills-container {
    justify-content: center;
    flex-direction: column;

    .skills,
    .education-experience {
      height: 100%;
      width: 100%;
      .h-divider {
        margin-top: 2rem;
      }
    }

    .v-divider {
      display: none;
    }

    .h-divider-responsive {
      display: block;
    }

    .skills {
      height: 100%;
      .main {
        margin-bottom: 1rem;
      }
      .h-divider {
        margin-top: 2rem;
      }
      .secondary {
        margin-bottom: 1rem;
      }
      li {
        width: 760px;
      }
    }

    .education-experience {
      height: 100%;
      margin: 0;
    }

    .education {
      height: 50%;
      .education-container {
        flex-direction: column;
        align-items: flex-start;
        div {
          margin: 0;
          margin-left: 0;
          margin-right: 0;
        }
      }
      .school {
        margin-top: 2rem;
      }
      div {
        width: 780px;
      }
      h2 {
        margin-top: 2rem;
      }
    }

    .experience-container {
      flex-direction: column;
      margin-bottom: 2rem;
    }

    .experience {
      height: 50%;
      .job {
        align-self: center;
      }

      h2 {
        margin-bottom: 0;
      }
      h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
        align-self: flex-start;
      }
      li {
        width: 760px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .skills-container {
    .skills {
      height: 100%;
      li {
        width: 510px;
      }
    }

    .education-experience {
      height: 100%;
    }

    .education {
      height: 50%;
      div {
        width: 530px;
      }
    }

    .experience {
      height: 50%;
      li {
        width: 510px;
      }
    }
  }
}

@media screen and (max-width: 540px) {
  .skills-container {
    .skills {
      height: 100%;

      h2 {
        font-size: 32px;
      }

      .main {
        font-size: 24px;
        margin-top: 0;
      }

      .secondary {
        font-size: 24px;
      }

      .subtitle {
        font-size: 18px;
      }

      li {
        font-size: 16px;
        width: 400px;
      }
    }

    .education {
      height: 100%;

      div {
        width: 420px;
      }
      h2 {
        font-size: 32px;
      }

      .school {
        font-size: 24px;
      }

      .credentials {
        margin-bottom: 0.25rem;
        font-size: 18px;
      }

      .date {
        font-size: 16px;
      }
    }

    .education-experience {
      height: 100%;
    }

    .experience {
      height: 100%;
      .experience-container {
        margin-bottom: 4rem;
        margin-top: 0;
      }

      h2 {
        font-size: 32px;
      }
      h3 {
        font-size: 24px;
      }
      h4 {
        font-size: 18px;
      }
      li {
        font-size: 16px;
        width: 400px;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .skills-container .skills li {
    width: 290px;
  }
  .skills-container .experience h4 {
    font-size: 16px;
  }
  .skills-container .experience li {
    width: 290px;
  }
  .skills-container .education div {
    width: 290px;
  }
}

@media screen and (max-width: 320px) {
  .skills-container .skills h2 {
    font-size: 30px;
  }

  .skills-container .skills li {
    width: 230px;
  }

  .skills-container .experience li {
    width: 230px;
  }

  .skills-container .education h2 {
    font-size: 30px;
  }

  .skills-container .education div {
    width: 230px;
  }

  .skills-container .experience h2 {
    font-size: 30px;
  }
}
